    <h3>Bienvenido <%= title %></h3></br>
    <p>El portal donde podr치 crear sus propios Juegos!</p>

	<li>Para una r치pica comprobaci칩n, las sesiones caducan a los 30 segundos de inactividad</li>
    <li class="inv">Botones azules - Para usuarios NO Autenticados</li>
    <li class="adm">Botones verdes - Para usuarios Autenticados (Expira la sesi칩n)</li>
    
